services:
  postgres:
    image: postgres:15
    container_name: konektinda_db_dev
    environment:
      POSTGRES_USER: ${DB_USER:-user}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-password}
      POSTGRES_DB: ${DB_NAME:-konektinda_db}
    ports:
      - '${DB_PORT:-5433}:5432'
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data
    healthcheck:
      test:
        [
          'CMD-SHELL',
          'pg_isready -U "${DB_USER:-user}" -d "${DB_NAME:-konektinda_db}"',
        ]
      interval: 10s
      timeout: 5s
      retries: 5

  # app:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   container_name: konektinda_app_dev
  #   environment:
  #     DATABASE_URL: postgresql://${DB_USER:-user}:${DB_PASSWORD:-password}@postgres:${DB_PORT:-5433}/${DB_NAME:-konektinda_db}
  #     PORT: ${APP_PORT:-4000}
  #     NODE_ENV: development
  #     # Firebase Admin SDK
  #     FIREBASE_PROJECT_ID: ${FIREBASE_PROJECT_ID}
  #     FIREBASE_CLIENT_EMAIL: ${FIREBASE_CLIENT_EMAIL}
  #     FIREBASE_PRIVATE_KEY: ${FIREBASE_PRIVATE_KEY}
  #     # Firebase Auth
  #     FIREBASE_AUTH_API_KEY: ${FIREBASE_AUTH_API_KEY}
  #     FIREBASE_AUTH_DOMAIN: ${FIREBASE_AUTH_DOMAIN}
  #     FIREBASE_AUTH_PROJECT_ID: ${FIREBASE_AUTH_PROJECT_ID}
  #   ports:
  #     - '${APP_PORT:-4000}:4000'
  #   depends_on:
  #     postgres:
  #       condition: service_healthy
  #   volumes:
  #     - .:/app
  #     - /app/node_modules
  #   command: npm run start:dev

volumes:
  postgres_data_dev:
    driver: local
